@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: "symbols-sedona";
    src: url("../fonts/symbols-sedona.woff") format("woff"),
       url("../fonts/symbols-sedona.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
    display: inline-block;
    width: 1em;
    margin-left: .1em;
    font-weight: normal;
    line-height: 1em;
    font-family: "symbols-sedona";
    text-align: center;
    text-transform: none;
    text-decoration: inherit;
    font-style: normal;
    font-variant: normal;
    speak: none;
}

.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-calendar::before { content: "\e800"; } /* "" */
.icon-plus::before { content: "\e801"; } /* "" */
.icon-minus::before { content: "\e802"; } /* "" */
.icon-youtube::before { content: "\f39e"; } /* "" */

body {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-transform:uppercase;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

h1 {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-transform:uppercase;
    text-align: center;
}

h2 {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 30px;
    line-height: 24px;
    font-weight: 700;
    text-transform:uppercase;
}

a {
    text-decoration: none;
    font-family: "PT Sans", "Arial", sans-serif;
}

p {
    text-align: center;
    margin: 0;
    padding: 0;
}
b {
    font-size: 21px;
    line-height: 21px;
    text-transform:uppercase;
    font-weight:bold
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-container {
    min-width: 751px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    box-shadow: 0 0 10px 0 #c8c8c8;
    background: #fff;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.main-header {
    margin-bottom: -20px;
    padding: 0;
}

.main-navigation {
    margin: 0;
    padding-left: 6%;
    padding-right: 6%;
}
.main-navigation ul {
    position: relative;
    z-index: 20;
    list-style: none;
    font-size: 0;
    margin: 0;
    padding: 0;
}
.main-navigation li {
    float: left;
    padding-top: 15px;
    padding-bottom: 40px;
    font-size: 14px;
    width: 20%;
    box-sizing: border-box;
}

.main-navigation li:nth-child(2) {
    padding-left: 30px;
    text-align: left;
}

.main-navigation li:nth-child(4) {
    margin-left: 178px;
    text-align: right;
}

.main-navigation li:last-child {
    float: right;
    margin-left: -178px;
    text-align: right;
}

.main-navigation a {
    text-decoration: none;
    font-weight: 700;
    color: #000000;
}

.main-navigation a:hover {
    color: #81b3d2;
}

.main-navigation a:active {
    color: #b2b2b2;
}

.logo-nav {
    position: absolute;
    top: -15px;
    left: 43.5%
}

.logo-nav a {
    padding: 0;
}

.index-intro {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 508px;
    margin-bottom: 60px;
    background: #ffffff url("../img/background photo.jpg") no-repeat 50% 21%;
    background-size: cover;
}

.index-intro::before {
    position: absolute;
    content: "";
    top: 451px;
    left: 0;
    width: 100%;
    min-height: 57px;
    background: url("../img/background_shape.png") no-repeat 0 100%;
    background-size: contain;
}

.reasons {
    margin-top: 29px;
    margin-bottom: 54px;
}
.feature-row {
    float: left;
    width: 100%;
    background-color: #eeeeee;
}

.home {
    display: block;
    width: 75px;
    height: 72px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    background: url("../img/sprite.png") no-repeat -10px -177px;
}

.eat {
    display: block;
    width: 74px;
    height: 70px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    background: url("../img/sprite.png") no-repeat -10px -87px;
}

.souvenir {
    display: block;
    width: 64px;
    height: 76px;
    margin-top: 56px;
    margin-left: auto;
    margin-right: auto;
    background: url("../img/sprite.png") no-repeat -10px -269px;
}

.picture {
    color: #ffffff;
    background-color: #81b3d2;
}

.plus {
    background-color: #ffffff;   
}

.plus p {
    padding-bottom: 85px;    
}

.plus b {
    padding-top: 26px;
    padding-bottom: 23px;
}

.features-picture {
    float: left;
    width: 66.7%;
    margin: 0;
}
.town {
    height: 256px;
    background: url("../img/true-city.jpg") no-repeat;
    background-size: cover;
}


.canyon {
    height: 256px;
    background: url("../img/bridge-of-devil.jpg") no-repeat;
    background-size: cover;
}

.features-description {
    position: relative;
    float: left;
    width: 33.3%;
    min-height: 256px;
}

.features-name b {
    padding-top: 52px;
    padding-bottom: 25px;
}

.features-description b {
    
    text-align: center;
}

.features-description p {
    margin: 0 auto;
    max-width: 285px;
}

.features-name {
    display: block;
    text-align: center;
    padding-top: 55px;
    padding-bottom: 22px;
}
.feature-number {
    display: block;
    text-align: center;
}

.last-reasons b {
    padding-top: 46px;
    padding-bottom: 25px;
}
.feature-number{
    padding-bottom: 20px;    
}

.last-reasons p {
    max-width: 280px;
}

.booking {
    width: 100%;
}

.booking h2{
    margin: 0;
    text-align: center;
    padding-top: 53px;
    padding-bottom: 33px;
}

.booking p {
    text-align: center;
    padding-bottom: 50px;
}

.booking-form {
    position: absolute;
    top: 100%;
    left: 0;
    width: 570px;
    padding-top: 55px;
    background-color: #ffffff;
    color: #000000;
}

.form-row {
    position: relative;
    border: none;
    padding: 0;
    padding-left: 55px;
    margin: 0;
    margin-bottom: 8px;
}

.counter:nth-child(2n) {
    margin-bottom: 10px;
    margin-left: 5px;
    padding-left: 0px;
}

.booking-form input {
    display: inline-block;
    vertical-align: top;
    width: 345px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding-top: 7px;
    padding-bottom: 6px;
    padding-left: 10px;
    border: none;
    background-color: #f2f2f2;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
}

.booking-form input:hover {
    background-color: #ebebeb;
}

.booking-form input:focus {
    background-color: #ffffff;
    outline: 2px solid #e5e5e5;;
}

.booking-form input[id="date_out"] {
    margin-left: 15px;
}

.icon-calendar {
    position: absolute;
    right: 55px;
    top: 0;
    color: #a9a9a9;
    cursor: pointer;
}

.icon-calendar::before {
    width: 38px;
    margin: 0;
    font-size: 21px;
    line-height: 38px;
    text-align: center;
}

.icon-calendar:hover {
    color: #000000;
}

.icon-calendar:active {
    color: #81b3d2;
}

.booking-form input[id="adults"] {
    width: 114px;
    margin-left: -6px;
    margin-right: -6px;
    padding-top: 8px;
    padding-bottom: 4px;
    padding-left: 0;
    text-align: center;
}

.booking-form input[id="children"] {
    width: 114px;
    margin-left: -6px;
    margin-right: -6px;
    padding-top: 8px;
    padding-bottom: 4px;
    padding-left: 0;
    text-align: center;
}

.booking-form input:last-child {
    width: 459px;
    margin-top: 25px;
    margin-bottom: 55px;
    margin-left: 55px;
    padding: 16px;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    border: none;
    outline: none;
    color: #ffffff;
    background-color: #81b3d2;

}

.booking-form label {
    display: inline-block;
    vertical-align: top;
    padding-top: 7px;
    padding-left: 4px;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
}

.booking-form label[for="adults"] {
    margin-right: 44px;
    padding-top: 7px;
}

.counter label {
    padding: 0;
}

.booking-form label[for="children"] {
    margin-right: 25px;
    margin-left: 50px;
    padding-top: 7px;
}

.icon-minus, .icon-plus {
    padding-top: 10px;
    padding-bottom: 9px;
    background-color: #f2f2f2;
    font-size: 14px;
    line-height: 38px;
    color: #a9a9a9;
    cursor: pointer;
}

.counter .btn-minus:before,
.counter .btn-minus:after {
    content: "";
    position: absolute;
    top:19px;
    right: 83px;
    width: 11px;
    height: 3px;
    background-color: #a9a9a9;
    border-radius: 3px;
    cursor: pointer;
}

.counter .btn-plus:before,
.counter .btn-plus:after {
    content: "";
    position: absolute;
    z-index: 30;
    top: 19px;
    right: 9px;
    width: 11px;
    height: 3px;
    background-color: #a9a9a9;
    border-radius: 3px;
    cursor: pointer;
}

.counter .btn-plus:after {
    transform: rotate(90deg);
}

.counter .btn-minus:hover:after {
    background-color: #000000;
}

.counter .btn-plus:hover:before,
.counter .btn-plus:hover:after {
    background-color: #000000;
}
.counter .btn-minus:active:after {
    background-color: #81b3d2;
}

.counter .btn-plus:active:before,
.counter .btn-plus:active:after {
    background-color: #81b3d2;
}

.booking-form button {
    display: inline-block;
    padding: 0;
    margin: 0;
    background-color: #f2f2f2;
    border: none;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    
}
.counter {
    display: inline-block;
    vertical-align: top;
}

.btn {
    width: 100%;
    margin-top: 24px;
    padding: 16px;
    font-size: 21px;
    line-height: 26px;
    display: block;
    border: none;
    color: #ffffff;
    background-color: #81b3d2;
    cursor: pointer;
}

.booking-button {
    position: relative;
    width: 570px;
    margin: 0 auto;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-transform:uppercase;
    color: white;
    background-color: #766357;
}

.booking-button a{
    display: block;
    text-decoration: none;
    text-transform:uppercase;
    text-align: center;
    padding: 30px;
    color: white;
    background-color: #766357;
    cursor: pointer;
}

.map {
    width: 100%;
    height: 475px;
    background: url("../img/map.jpg") no-repeat;
}

.map iframe {
    width:100%;
    height: 475px;
    border: none; 
}

.main-footer {
    text-align: center;
    width: 100%;
    padding-top: 34px;
    box-sizing: border-box;
}

.footer-contacts {
    float: left;
    width: 33.3%;
}

.footer-contacts a {
    display: block;
    margin-top: 10px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
}

.footer-social {
    float: left;
    width: 33.3%;
}

.social-btn {
    display: inline-block;
    vertical-align: top;
    background-color: #81b3d2;
    margin-left: 4px;
}

.social-btn:hover {
    background-color: #669ec0;
}

.footer-social a {
    font-size: 19px;
    line-height: 20px;
    color: #ffffff;
    padding: 14px 11px;
    margin-right: 3px;
    margin-bottom: 30px;
}

.footer-social a {
    color: #ffffff;
}

.footer-social a:active {
    color: #88b6d1;
}

.footer-copyright {
    float: right;
    width: 33%;
    margin-left: -1px;
}

.logo-htmlacademy {
    display: inline-block;  
    width: 113px;
    height: 39px;
    margin-top: 5px;
    margin-left: 3px;
    text-decoration: none;
    font-size: 0;
    background: transparent url('../img/logo-htmlacademy-sprites.png') no-repeat -5px -5px;
}

.logo-htmlacademy:hover {
    background-position: -5px -54px;;
}

.logo-htmlacademy:active {
    background-position: -5px -103px;;
}

.footer-copyright span {
    display: inline-block;
    vertical-align: top;
    margin-top: 13px;
    margin-right: 4px;
    margin-left: -6px;
}
.search-filters {
    width: 100%;
    padding-left: 6%;
    padding-right: 6%;
    margin-bottom: 26px;
    min-height: 217px;
    background: #40759f url("../img/filter_background.jpg") no-repeat 0 18%;
    background-size: cover;
    color: #ffffff;
    box-sizing: border-box;
}


.filter-infrastructure input {
    display: block;
    float: left;
}

.form-title {
    display: block;
    padding-bottom: 25px;
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
}

.form-items li {
    margin-bottom: 25px;
}

.search-filters label {
    display: inline-block;
    vertical-align: top;
}

.search-filters span {
    display: inline-block;
    vertical-align: top;
    margin-left: -5px;
    margin-top: -2px;
    margin-right: 9px;
    font-size: 26px;
    line-height: 20px;
    cursor: pointer;
}

.filter-infrastructure {
    float: left;
    width: 20%;
    min-width: 200px;
    margin-right: 45px;
    margin-left: -1px;
    padding-top: 6px;
}

.filter-type {
    float: left;
    width: 20%;
    min-width: 150px;
    padding-top: 5px;
}


input[type="checkbox"] {
  display: none;
}

.form-checkbox + .form-label {
  position: relative;
  padding-left: 42px;
  font-size: 14px;
  line-height: 21px;
  cursor: pointer;
}

.form-checkbox + .form-label::before {
    content: '\2610';
    position: absolute;
    left: 0;
    top: 0;
    font-size: 26px;
    font-family: 'symbols-sedona';
    color: #ffffff;
}

.form-checkbox:checked + .form-label::before {
    content: '\2611';
}

.form-checkbox + .form-label:hover::before {
    color: #ffffff;
}

.form-checkbox:disabled + .form-label,
.form-checkbox:disabled + .form-label::before,
.form-checkbox:disabled + .form-label:hover::before {
    color: #6a6a6a;
    cursor: default;
}

.filter-range {
    float: right;
    min-width: 20%;
    max-width: 30%;
    margin-right: 14px;
    padding-top: 6px;
    color: #ffffff;
    text-transform: uppercase;
}

.filter-range-title {
    margin-bottom: 9px;
    margin-left: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}

.price-controls {
    position: relative;
    width: 100%;
    height: 34px;
    margin-bottom: 20px;
    margin-left: 12px;
    font-size: 0;
    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    background: #ffffff;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.price-controls label {
    display: inline-block;
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;
    cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
    width: 30%;
    padding-left: 21%;
}
.price-controls .max-price {
    padding-left: 16%;
}

.price-controls input {
    max-width: 50%;
    margin: 0;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
    outline: none;
}

.range-controls {
    position: relative;
    margin-bottom: 32px;
    margin-left: 12px;
}

.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover {
    background: #1c4f80;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.btn-transparent {
    display: block;
    margin: 0 auto;
    padding: 6px 35px;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
}

.btn-transparent:hover {
    color: #000000;
    background: #ffffff;
}

.hotels-found {
    display: inline-block;
    vertical-align: top;
    padding-bottom: 35px;
}

.sorting {
    display: inline-block;
    vertical-align: top;
    margin-top: 9px;
    margin-top: 9px;
    margin-right: 35px;
    font-size: 12px;
    line-height: 18px;
}

.hotels-found {
    margin-top: 3px;
    margin-right: 45px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-transform:uppercase;
}

.sort-panel ul {
    display: inline-block;
    vertical-align: top;
    list-style: none;
    margin: 0;
    margin-top: 9px;
    padding: 0;
}
.sort-panel li {
    display: inline-block;
    vertical-align: top;
    
    font-size: 12px;
    margin-right: 30px;
    line-height: 18px;
}

.sort-panel a {
    text-decoration: none;
    border-bottom: 1px dashed #81b3d2;
    color: #c7c7c7;
}

.sort-panel a:hover {
    border-bottom: 1px dashed #81b3d2;
    color: #81b3d2;
}

.sort-panel a:active {
    color: #000000;
    border-bottom: none;
}

.sort {
    float: right;
    margin-right: -10px;
}

.sort span {
    display: inline-block;
    vertical-align: top;
    margin-top: 8px;
}

.icon-down-dir {
    font-size: 23px;
    color: #81b3d2;
    cursor: pointer;
}

.icon-down-dir:hover {
    color: #000000;
}

.icon-down-dir:active {
    color: #81b3d2;    
}

.icon-up-dir {
    font-size: 23px;
    color: #d3d3d3; 
    cursor: pointer;
}

.icon-up-dir:hover {
    color: #000000;    
}

.icon-up-dir:active {
    color: #81b3d2;    
}

.sort-panel {
    margin-bottom: -4px;
    padding-left: 6%;
    padding-right: 6%;
}

.house-picture {
    display: inline-block;
    vertical-align: top;
    padding-left: 6%;
    padding-top: 30px;
    padding-bottom: 25px;
    width: 135px;
}

.house-description {
    display: inline-block;
    vertical-align: top;
    padding-left: 28px;
    padding-top: 23px;
    padding-bottom: 30px;
    width: 300px;
}

.house-description h2 {
    font-size: 21px;
    line-height: 26px;
    margin: 0;
    padding-bottom: 7px;
    cursor: pointer;
}

.house-name:hover {
    color: #81b3d2;
}
.house-name:active {
    color: #cacaca;    
}

.more p {
    text-align: left;
}

.book p {
    text-align: left;
}

.house-rating {
    float: right;
    width: 150px;
    margin-top: 26px;
    padding-right: 6%
}
.icon-star {
    float: right;
    color: #81b3d2;
    font-size: 20px;
}

.house-rating p {
    margin-top: 66px;
    margin-left: 40px;
    padding: 3px 10px;
    background-color: #f2f2f2;
}

.more {
    display: inline-block;
    margin-right: 3px;
}

.more h2{
    font-size: 21px;
    line-height: 26px;
}

.book {
    display: inline-block;
}

.more a {
    display: inline-block;
    margin-top: 15px;
    padding: 3px 16px;
    font-weight: 700;
    background-color: #81b3d2;
    color: #ffffff;
}

.more a:hover {
    background-color: #669ec0;    
}

.more a:active {
    color: #88b6d1;
    background-color: #5496bd;
}

.book a {
    display: block;
    margin-top: 15px;
    padding: 3px 16px;
    font-weight: 700;
    background-color: #766357;
    color: #ffffff;
}

.book a:hover {
    background-color: #604e43;    
}

.book a:active {
    color: #857871;
    background-color: #503e33;
}
.house {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}
    
.booking-form {
    display: none;
}

.booking-form-show {
    display: block;    
    -webkit-animation: bounce 0.7s;    
            animation: bounce 0.7s;
}
.booking-form-show .btn:hover {
    background-color: #669ec0;;
}

.booking-form-show .btn:active {
    background-color: #5496bd;
    color: #88b6d1;
}

.icon-up-dir {
    margin-right: 0;
    margin-left: 0;
}

@-webkit-keyframes bounce {
  0%   {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  70%  {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90%  {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0%   {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  70%  {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90%  {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
